<%= render 'merchants/header', locals: {merchant_id: @merchant} %>
<h1> Merchants Invoices show page </h1>

<h3> Invoice # <%= @invoice.id %> </h3>

<section>
  <p>
    <%= form_with model: @invoice, url: merchant_invoice_path, merchant_id: @merchant.id, method: :patch do |form| %>
                <%= form.label :status %>
                <%= form.select :status, ['in progress', 'cancelled', 'completed'] %>
                <%= form.submit %>
              <% end %>
  </p>
  <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> <%= @invoice.status %></p>
</section>

<div class="total-revenue">
  <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue) %> </p>
</div>

<div class="total-discount">
  <p>Total Discount: <%= number_to_currency(@invoice.total_discount) %> </p>
</div>

<div class="total-profit">
  <p>Total Profit: <%= number_to_currency(@invoice.total_revenue - @invoice.total_discount) %> </p>
</div>

<div class="customer">
  <h2>Customer:</h2>
  <ul>
    <li><%= @customer.name %></li>
  </ul>
</div>

<h4>Items on this Invoice:</h4>
<table class="table">
  <thead>
    <tr class="tr">
      <th class="th1">Item Name</th>
      <th class="th1">Quantity</th>
      <th class="th1">Unit Price</th>
    </tr>
  </thead>

  <tbody>
    <% discount_items = @invoice.total_discount_items %>
    <% @invoice.invoice_items.each do |i| %>
      <section id="the-status-<%= i.id %>">
        <tr class="tr">
          <td style="text-align:center"><%= i.item.name %></td>
          <td style="text-align:center"><%= i.quantity %></td>
          <td style="text-align:center"><%= number_to_currency(i.unit_price) %></td>
          <td style="text-align:center"><% if discount_items.include?(i) %>
                                          <%= link_to "#{number_to_currency(discount_items.find(i.id).total_discount)} off",
                                                      merchant_bulk_discount_path(@merchant, discount_items.find(i.id).bd_id) %>
                                        <% end %></td>
        </tr>
      </section>
    <% end %>
  </tbody>
</table>